<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body{
            background: url('{{ url_for("static", filename="background.jpg") }}') no-repeat center center fixed;
        }
        .container {
            background: rgb(225, 245, 248);
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Reset Password</h1>
        <form method="POST" action="{{ url_for('reset_with_token', token=token) }}">
            <input type="email" name="email" placeholder="Email" value="{{ email }}" readonly>
            <input type="password" name="new_password" placeholder="New Password" value="{{ request.form.get('new_password', '') }}" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" value="{{ request.form.get('confirm_password', '') }}" required>

            {% if error_messages %}
                <div class="error-message">
                    <ul>
                        {% for message in error_messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
